---
layout: layouts/base.njk
title: Gareth de Walters' personal website
metaTitle60Chars: Gareth de Walters' personal website
description: Gareth de Walters' personal website
metaDescription155Chars: Gareth de Walters' personal website
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 6
---
Text
