---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# You're not a robot. Whatcha doing here?

User-agent: *
Disallow: /css/
Disallow: /rebuild/
Sitemap: https://dewalters.net/sitemap.xml

User-agent: GPTBot
Disallow: /