<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" itemscope>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="robots" content="index,follow" />
	<meta name="referrer" content="no-referrer">

	<meta name="theme-color" content="">

	<!-- DNS Prefetch -->
	<link rel="dns-prefetch" href="{{ site.url}}">
	<!-- <link rel="dns-prefetch" href=""> // fonts and other external resources -->

	<!-- Preload styles and scripts -->
    <link rel="preload" href="{{ site.url }}/assets/css/gdewalters-style.css" as="style" />
	<link rel="preload" href="{{ site.url }}/assets/js/gdewalters-main.js" as="script">


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://fonts.googleapis.com/css?family=Lato:wght@700' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:wght@400;500&display=swap' rel='stylesheet'>

	<!-- Me -->
	<meta name="author" content="{{ author.name }}" />
	<link href="mailto:{{ author.email }}" rel="me">
	<link href="sms:{{ author.mobile }}" rel="me" />
	<link href="{{ author.social.twitter.url }}" rel="me">
	<link href="{{ author.social.linkedin.url }}" rel="me">
	<link href="{{ author.social.github.url }}" rel="me">
	<link href="{{ author.social.instagram.url }}" rel="me">
	<link href="{{ author.social.bluesky.url }}" rel="me">

	<!-- SSLCert -->
	<!-- // Auto provisioned by webhost // -->

	<!-- Open Graph Meta -->
	<meta property="og:title" content="Writing by {{ author.name}} – {{ author.expertise }}" />
	<meta property="og:url" content="{{ site.url }}/writing" />
	<meta property="og:site_name" content="{{ author.name}} – {{ author.occupation}}" />
	<meta property="og:type" content="website" />
	
	<!-- Twitter Meta -->
	<meta name="twitter:site" content="{{ author.social.twitter.name }}" />
	<meta name="twitter:creator" content="{{ author.social.twitter.name }}" />
	<meta name="twitter:url" content="{{ site.url }}/writing" />
    <meta name="twitter:title" content="Writing by {{ author.name }} – {{ author.expertise }}" />
	<meta name="twitter:domain" content="{{ site.domain }}" />
	
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.faviconUrl}}/apple-touch-icon.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.faviconUrl}}/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.faviconUrl}}/favicon-16x16.png"/>
	<link rel="mask-icon" href="{{ site.faviconUrl}}/safari-pinned-tab.svg" color="#000000"/>
	<link rel="shortcut icon" href="{{ site.url}}/favicon.ico"/>

	<link rel="manifest" href="/manifest.json">
	
	<meta name="msapplication-TileColor" content="#eeeeee">
	<meta name="msapplication-TileImage" content="{{ site.url}}/mstile-150x150.png">

	<link rel="home" href="{{ site.url}}/">
	<link rel="canonical" href="{{ site.url }}/{{ page.fileSlug }}/">

    <!-- Render styles inline for better performance -->
    <style>
    {% set css %}
    {% include "css-framework/tailwind.css" %}
    {% endset %}
    {{css | postcss | safe}}
    </style>  

    <!-- ... Or link to stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/gdewalters-style.css?v={% version %}" /> -->

	<!-- Inline js if any -->
	<script src="/assets/js/alpine.js?v={% version %}"></script>
	<script>
		// Burger menus
		document.addEventListener("DOMContentLoaded", function () {
			// open
			const burger = document.querySelectorAll(".navbar-burger");
			const menu = document.querySelectorAll(".navbar-menu");

			if (burger.length && menu.length) {
				for (var i = 0; i < burger.length; i++) {
					burger[i].addEventListener("click", function () {
						for (var j = 0; j < menu.length; j++) {
							menu[j].classList.toggle("hidden");
						}
					});
				}
			}

			// close
			const close = document.querySelectorAll(".navbar-close");
			const backdrop = document.querySelectorAll(".navbar-backdrop");

			if (close.length) {
				for (var i = 0; i < close.length; i++) {
					close[i].addEventListener("click", function () {
						for (var j = 0; j < menu.length; j++) {
							menu[j].classList.toggle("hidden");
						}
					});
				}
			}

			if (backdrop.length) {
				for (var i = 0; i < backdrop.length; i++) {
					backdrop[i].addEventListener("click", function () {
						for (var j = 0; j < menu.length; j++) {
							menu[j].classList.toggle("hidden");
						}
					});
				}
			}
		});
	</script>

</head>

<body id="body" class="font-sans font-normal leading-normal text-gdwEerieBlack font-base"  itemtype="https://schema.org/WebPage" itemscope>

	<a href="#main" class="sr-only">Skip to main content</a>

    <!-- header -->
    <header class="max-w-screen-xl mx-auto py-10 px-4 md:px-6 lg:px-8">

		<nav role="navigation" class="relative flex items-center justify-between py-2" itemtype="https://schema.org/SiteNavigationElement" itemscope>

            <a href="{{ site.url}}/" rel="me" class="font-bold">
                <strong class="">{{ author.name }}</strong>
                <br>{{ author.occupation }}
            </a>

			<div class="md:hidden">


				<button type="button" class="navbar-burger w-9 h-9 flex justify-center items-center text-sm font-semibold rounded-lg border border-gray-200 text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#navbar-secondary-content" aria-controls="navbar-secondary-content" aria-label="Toggle navigation">
					<svg class="hs-collapse-open:hidden flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
					<svg class="hs-collapse-open:block hidden flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
				</button>


			</div>
            
			<ul id="mainnav" class="hidden md:inline-flex items-center">
                {%- for entry in collections.all | eleventyNavigation %}
                <li class="px-2 md:px-4">
                    <a href="{{ entry.url }}" class="font-semibold hover:text-gdwGlamorganRed" {% if entry.url == page.url %} aria-current="page" data-state="active"{% endif %}>
                        {{ entry.title }}
                    </a>
                </li>
                {%- endfor %}
            </ul>
		</nav>

		<div class="navbar-menu z-50 hidden">

			<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
			<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
				<div class="flex items-center mb-8">
					<a class="mr-auto text-3xl font-bold leading-none" href="#">
						<svg class="h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 585.000000 585.000000">
							<path d="M0 90v90.1l3.3-1.7c1.7-.9 67.3-36.3 145.6-78.7 78.4-42.4 143-77 143.6-77 .6 0 65.2 34.6 143.6 77 78.3 42.4 143.9 77.8 145.7 78.7l3.2 1.7V0H0v90z" />
							<path d="M146.6 176.4C67 219.5 1.4 255.2.9 255.7s-.8 17-.7 37.6l.3 36.6L146.4 251l146-79 11 5.9c6.1 3.3 71.9 38.8 146.1 79l135 73 .3-36.6c.2-28.6-.1-37-1-37.9-1.7-1.5-288.6-156.6-290.7-157-.9-.2-66.8 34.9-146.5 78z" />
							<path d="M146.5 326.4C66.8 369.6 1.2 405.1.7 405.2c-.4.2-.6 17-.5 37.5l.3 37.2 146-79 145.9-79 4.6 2.5c2.5 1.3 67.3 36.3 144 77.8s140.5 76 141.8 76.7l2.2 1.2v-37.3l-.1-37.3L440 327.2c-79.8-43.1-145.8-78.6-146.7-78.8-1.1-.3-61.7 32-146.8 78z" />
							<path d="M146.3 476.4L0 555.5V585h585v-29.5l-139.3-75.3c-76.5-41.4-142.3-77-146.2-79.1l-7-3.7-146.2 79z" />
						</svg>
					</a>
					<button class="navbar-close">
						<svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<div>
					<ul>
					{%- for entry in collections.all | eleventyNavigation %}
					<li class="mb-1">
						<a href="{{ entry.url }}" class="block p-4 text-sm font-semibold text-gray-400 hover:bg-stone-100 hover:text-gdwCafeNoir rounded" {% if entry.url == page.url %} aria-current="page" data-state="active"{% endif %}>
							{{ entry.title }}
						</a>
					</li>
					{%- endfor %}
					</ul>
				</div>
				<div class="mt-auto">
					<p class="my-4 text-xs text-center text-gray-400">
						<span>Copyright © 2024</span>
					</p>
				</div>
			</nav>
		</div>

    </header>
    <!-- header ends here -->

	<main id="main" role="main" class="max-w-screen-xl mx-auto py-10 px-4 md:px-6 lg:px-8">
    {{ content | safe }}
	</main>

<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<hr
  class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:opacity-100" />

    {% include "components/footer-v2.njk" %}

	<script src="main.js" async></script>

</body>
</html>
